<configuration>
  <system.webServer>
    <!-- Configure the iisnode module to handle the Node.js app -->
    <handlers>
      <!-- Add handlers for each controller -->
      <add name="NodeJsApp" path="app.js" verb="*" modules="iisnode" scriptProcessor="C:\Program Files\iisnode\iisnode.dll" resourceType="File" preCondition="bitness64" />
      <add name="NodeJsAppRecharge" path="routes/userRoutes.js" verb="*" modules="iisnode" scriptProcessor="C:\Program Files\iisnode\iisnode.dll" resourceType="File" preCondition="bitness64" />
      <add name="NodeJsAppService" path="controllers/serviceControllers.js" verb="*" modules="iisnode" scriptProcessor="C:\Program Files\iisnode\iisnode.dll" resourceType="File" preCondition="bitness64" />
      <add name="NodeJsAppUser" path="controllers/userController.js" verb="*" modules="iisnode" scriptProcessor="C:\Program Files\iisnode\iisnode.dll" resourceType="File" preCondition="bitness64" />
    </handlers>

    <!-- URL Rewriting to route all requests to the respective files -->
    <rewrite>
      <rules>
        <rule name="Node.js">
          <match url="(.*)" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="/app.js" />
        </rule>
      </rules>
    </rewrite>

    <!-- Hide sensitive folders from being accessed directly -->
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules" />
          <add segment="iisnode" />
        </hiddenSegments>
      </requestFiltering>
    </security>

    <!-- Enable logging for IISNode for all controllers -->
    <iisnode loggingEnabled="true" devErrorsEnabled="true" />
    
    <!-- Set app.js as the default document -->
    <defaultDocument>
      <files>
        <remove value="app.js" />
        <add value="app.js" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
